<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Dog Editor</title>
	</head>
	<body>
		<form action="" method="post">
			<div>
				<label>Dog Breed: </label> 
				<input type="text" th:field="${dogs.breed}">
			</div>
			<div>
				<label>Is this dog easy to maintain?</label>
			</div>
			<div>
				<label> Yes No</label>
			</div>
				<input type="radio" name="easyornot" value ="true" th:field="${dogs.easyToMaintain}">
				<input type="radio" name="easyornot" value ="false" th:field="${dogs.easyToMaintain}" style="margin-left: 5px;">
			<div>
				<button>Submit</button>
				<a href="/dogs" th:if="${dogs.id != null}">Back</a>
				<button th:if=""></button>
			</div>
		</form>
	</body>
</html>